<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vestibular UFSC 2008-2012</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
</head>
<body>
	<h1>OLAP do Vestibular</h1>
	<h5>Total de Candidatos por opção de Língua Estrangeira</h5>
	<p>dropdown com lista de possibilidades <a class="waves-effect waves-light btn" href="/candidatos_lingua">Submit</a></p>
	<p><a href="/candidatos_estado">candidatos_estado</a> </p>
	<p><a href="/acertos_categoria">acertos_categoria</a></p>
	<p><a href="/acertos_candidato_questao">acertos_candidato_questao</a></p>
	<p><a href="/candidatos_por_meio_de_transporte">acertos_candidato_questao</a></p>
	<p><a href="/candidatos_por_categoria_sem_pc">candidatos_por_categoria_sem_pc</a></p>
	<p><a href="/candidatos_vestibular_duas_vezes_por_experiencia">consulta_fez_vestibular_duas_vezes</a></p>

</body>
</html>